{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <div class="text-center">
      <h1 class="txt-color">Welcome on my Symfony project !</h1>
    </div>
</div>
{% endblock %}
